In [1]:
pwd()

'C:\\Users\\admin\\Pictures\\45_deg_consolidated'

In [12]:
import pandas as pd
import numpy as np
import os
import pathlib

In [28]:
df= pd.read_excel('20BMLROBOT - Avlingsfors√∏k 24 historiske sorter Vollebekk.xlsx'
                        , sheet_name='Sheet1', usecols=[0,1], names = ['image_taken_seq','species_ID'] )

In [29]:
df.head()

   image_taken_seq  species_ID
0                1        1801
1                2        1701
2                3        1601
3                4        1501
4                5        1401

In [42]:
mapdict = {}
for i in df.index:
    mapdict[ df['image_taken_seq'][i] ] =  df['species_ID'][i]

In [43]:
mapdict

{1: 1801,
 2: 1701,
 3: 1601,
 4: 1501,
 5: 1401,
 6: 1301,
 7: 1201,
 8: 1101,
 9: 1102,
 10: 1202,
 11: 1302,
 12: 1402,
 13: 1502,
 14: 1602,
 15: 1702,
 16: 1802,
 17: 1803,
 18: 1703,
 19: 1603,
 20: 1503,
 21: 1403,
 22: 1303,
 23: 1203,
 24: 1103,
 25: 1104,
 26: 1204,
 27: 1304,
 28: 1404,
 29: 1504,
 30: 1604,
 31: 1704,
 32: 1804,
 33: 1805,
 34: 1705,
 35: 1605,
 36: 1505,
 37: 1405,
 38: 1305,
 39: 1205,
 40: 1105,
 41: 1106,
 42: 1206,
 43: 1306,
 44: 1406,
 45: 1506,
 46: 1606,
 47: 1706,
 48: 1806,
 49: 1807,
 50: 1707,
 51: 1607,
 52: 1507,
 53: 1407,
 54: 1307,
 55: 1207,
 56: 1107,
 57: 1108,
 58: 1208,
 59: 1308,
 60: 1408,
 61: 1508,
 62: 1608,
 63: 1708,
 64: 1808,
 65: 1809,
 66: 1709,
 67: 1609,
 68: 1509,
 69: 1409,
 70: 1309,
 71: 1209,
 72: 1109,
 73: 1110,
 74: 1210,
 75: 1310,
 76: 1410,
 77: 1510,
 78: 1610,
 79: 1710,
 80: 1810,
 81: 1811,
 82: 1711,
 83: 1611,
 84: 1511,
 85: 1411,
 86: 1311,
 87: 1211,
 88: 1111,
 89: 1112,
 90: 1212,
 91: 1312,
 92: 1412,
 93: 1512,
 94: 1612,
 95: 1712,
 96: 1812}

In [48]:
listdir = [ int(name) for name in os.listdir('.') if os.path.isdir(os.path.join('.', name)) and 'ip' not in name  ]

In [51]:
for i, j in mapdict.items():
    os.rename(str(i), str(j))